<a href="https://colab.research.google.com/github/swastikkmaurya/practical8/blob/main/Experiment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Swastik Maurya
#25070123114
#Study of For Loops in Python

In [2]:
#Syntax for python
for variable in sequence:
    statement(s)

In [3]:
#print numbers from 1 to 5
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
#print odd number 1 to 10
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [9]:
#print even number from 1 to 10
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [12]:
#Sum of n number
n = int(input("Enter the number: "))
total =0
for i in range(1, n+1):
    total = total + i
print("SUM = ",total)

Enter the number: 6
SUM =  21

In [18]:
# print 3*3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [28]:
#Multiplication
A = [[1,2,3],
     [4,6,7],
     [8,9,10]]
B = [[1,1,1],
     [6,7,5],
     [3,2,1]]
Result = [[0,0,0],
          [0,0,0],
          [0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]
for row in Result:
  print(row)

[22, 21, 14]
[61, 60, 41]
[92, 91, 63]

In [29]:
#Possible combination without repeatation
d1=1
d2=2
d3=3
d=[d1,d2,d3]
#123,132,231,312,312,321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i!=j and j!=k and i!=k):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [34]:
#Print right angle triangle
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [32]:
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [38]:
#pyramid shape
for i in range(1,6):
  print(" "*(5-i)+" *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [39]:
#inverted pyramid
for i in range(5,0,-1):
  print(" "*(5-i)+" *"*i)

 * * * * *
  * * * *
   * * *
    * *
     *